/* Default / Mobile */
:root {
    --darker: #301c31;
    --dark: #553c52;
    --light: #ad93a7;
    --lighter: #e7d4e0;
    --accent: #87386b;
    --highlight: #b85683;
}


.PersonalInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 5rem;
    background: var(--accent);
    transition: background 0.3s ease-in-out;
}

.PersonalInfo:hover {
    background: var(--highlight);
}

.PersonalInfo img {
    font-size: xx-small;
    font-family: FreeMono;
    text-align: center;
    margin-left: 0.6rem;
    object-fit: cover;
    width: 1.7rem;
    height: 1.7rem;
}

.PersonalInfo span {
    font-family: FreeMono;
    font-size: medium;
    color: var(--lighter);
}

.PersonalInfo a {
    font-family: FreeMono;
    font-size: medium;
    text-decoration: none;
    color: var(--lighter);
}

.PersonalInfo a:hover {
    text-decoration: underline;
}

/* CSS for aside w/ my info */

aside {
    background: var(--dark);
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    border-bottom: 0.5rem solid var(--highlight);
    padding-top: env(safe-area-inset-top);
}

aside .Spacer {
    flex-grow: 2;
}

.ProfilePictureName {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-grow: 0;
}

.ProfilePicture {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.NameTitle {
    display: flex;
    flex-direction: column;
    font-family: FreeMono;
    margin: 0.5rem;
}

.NameTitle span {
    color: var(--lighter);
    font-size: x-large;
}

.NameTitle small {
    color: var(--light);
    font-size: medium;

}

aside button {
    background: none;
    color: var(--lighter);
    border: none;
    flex-grow: 0;
    margin: 0.5rem;
}

.ToggleArrow {
    width: 2.5rem;
    height: 2.5rem;
}

.Info {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    background: var(--darker);
    border-radius: 1rem;
    padding: 0.5rem;
}

/* Tablets */
@media (min-width: 786px) and (max-width: 1023px) {
    .PersonalInfo img {
        font-size: x-small;
    }
    
    .PersonalInfo span {
        font-size: medium;
    }
    
    .PersonalInfo a {
        font-size: medium;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .PersonalInfo img {
        font-size: small;
    }
    
    .PersonalInfo span {
        font-size: large;
    }
    
    .PersonalInfo a {
        font-size: large;
    }

    aside {
        position: fixed;
        width: 18rem;
        height: 100vh;
        top: 0;
        border-bottom: none;
        border-right: 0.5rem solid var(--highlight);
    }

    .ProfilePictureName {
        flex-direction: column;
        justify-content: left;
    }

    .ProfilePicture {
        width: 12rem;
        height: 12rem;
    }

    .NameTitle {
        align-items: center;
    }

    .NameTitle span {
        font-size: xx-large;
    }

    .NameTitle small {
        font-size: large;
    }

    .Info {
        width: 16rem;
        margin-left: 0.5rem;
    }
    
}