
.Project {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;

    width: 90%;
    padding: 1rem;
    margin: 0.2rem;
    background: var(--dark);
    border-radius: 1rem;
    box-shadow: inset 0 0 10px var(--darker);
    
    font-family: FreeMono;
}

.TitleSection {
    font-size: larger;
    font-weight: bold;
}

.TitleSection a {
    color: var(--lighter);
    text-decoration: none;
}

.TitleSection span {
    vertical-align: 0.1rem;
}

.TitleSection img {
    display: inline;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
}

.SkillsSection {
    color: var(--light);
    font-size: medium;
}

.DescriptionSection {
    color: var(--lighter);
    font-size: large;
}

@media (min-width: 1024px) { 
    .Project {
        
        width: 47.5%;
    }
}