html {
    background: var(--primary-above);
}

body {
    position: relative;
    font-family: 'FreeMono', 'Courier New', Courier, monospace;
    font-size: large;
    color: var(--text-main);
}

hr {
    border-color: var(--text-main);
    border-radius: 10%;
}

aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    position: fixed;
    height: 100vh;
    /*(Viewport - paper size) halved to get left side width (+ extra space for design and looks)*/
    width: calc(calc(calc(100vw - 11in) / 2) + 10rem);
    min-width: 20rem;

    background: var(--primary-above);
    color: var(--text-aside);
    overflow-y: scroll;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 5.7rem;
}

.amiah-face {
    aspect-ratio: 1;
    width: 10em;
    height: 10em;

    margin: 1rem;

    border-radius: 50%;
    filter: drop-shadow(0 0 0.3rem var(--primary-below));
}

.name-major {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem;
}

.name-major .name {
    font-size: xx-large;
}

.name-major .major {
    font-size: medium;
    color: var(--text-aside-below);
}


.pinfo-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;

    padding: 1rem;

    background: var(--primary-below);
    border-radius: 0.75rem;
    border: 0.3rem solid var(--primary-main);
}

.pinfo-list .pinfo {
    padding: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    background: var(--secondary-below);
    border-radius: 1rem;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.pinfo:hover {
    background: var(--secondary-above);
    font-weight: 700;
    transition: background-color font-weight 0.2s ease;
}

.pinfo-list a {
    color: var(--text-aside);
    text-decoration: none;
}

/* Hide toggle button for desktop users */
label[for="collapse-info-button"] {
    width: 0px; height: 0px;
    position: absolute;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: self-start;

    position: relative;
    /* Puts main at the right edge of the aside */
    left: max(calc(calc(calc(100vw - 11in) / 2) + 10rem), 20rem);
    /* Fill in the remaining width (viewport - aside width) + 1 padding */
    width: calc(100vw - max(calc(calc(calc(100vw - 11in) / 2) + 10rem), 21rem));
    
}

/* This is the "paper" the resume is on. Prefered width is 11in (including padding) */
.resume-body {
    max-width: 10in;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5in 1rem 0.5in;

    background: var(--background-main);
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 1rem var(--primary-below));
    overflow-x: hidden;
}

.resume-body section h2 {
    padding-left: 0.25rem;
    margin: 0;
}

.resume-body section p {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.75rem 0 0.75rem;

    text-indent: 2rem;
    text-wrap: stable;
}

.skill-lists {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.75rem 0 0.75rem;
}

.skill-lists ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 0.65rem 0 0.65rem 0;
    padding: 0;
}

.skill-lists ul li {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;

    background: var(--text-aside-below);
    border-radius: 0.75rem;

    text-wrap: nowrap;
    list-style-type: none;
}

.resume-body section h3 {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.75rem 0 0.75rem;
}


.resume-body section .education-detail {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.75rem 0 1.25rem;
}

.work-experience h3 .company-tag {
    padding: 0.2rem 0.4rem 0.2rem 0.2rem;
    margin-left: 0.5rem;

    background: var(--background-light-focus);
    border-radius: 0.33rem 0.75rem 0.75rem 0.33rem;

    text-wrap: nowrap;
}

.work-experience .date-tag {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.75rem 0 0.75rem;
}

.work-experience .work-detail {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.75rem 0 1.25rem;
}

@media screen and (max-width: 767px) {
    
    html {
        background: var(--background-main);
    }

    body {
        flex-direction: column;
    }

    aside {
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        width: 100vw;
        height: auto;

        border-right: none;
        border-bottom: 5px solid var(--secondary-main);
        overflow-y: auto;
    }

    .main-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;

        margin-top: auto;
    }

    .amiah-face {
        width: 4em;
        height: 4em;
        margin: 0.5rem;
        margin-left: 1.5rem;
    }

    .name-major {
        margin: 0.5rem;
        margin-right: 1rem;
    }

    .name-major .name {
        font-size: x-large;
    }

    .name-major .major {
        font-size: medium;
    }


    .collapsible-info {
        width: 100%;
        background: var(--primary-main);
    }

    /* Unhide toggle button for mobile users */
    label[for="collapse-info-button"] {
        width: auto; height: auto;
        position: relative;
        white-space: normal;
        clip-path: none;
        overflow: visible;
        margin: auto;
        padding: 0;

    }

    aside:has(#collapse-info-button:checked) .collapsible-info {
        width: 0px; height: 0px;
        position: absolute;
        white-space: nowrap;
        clip-path: inset(50%);
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    main {
        background: none;
        left: 0;
        width: auto;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .resume-body {
        margin: 0;
        padding: 0;
        filter: none;
        width: auto;
    }
}