
/* Default/Mobile */

html {
    background: var(--lighter);
    font-family: FreeMono;
}

hr {
    border: 0.08rem solid var(--darker);
    border-radius: 0.1rem;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

section h1 {
    font-weight: bold;
    margin-bottom: -0.2rem;
    padding-left: 0.1rem;
    color: var(--darker);
}

section p {
    padding-left: 0.5rem;
    color: var(--darker);
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    align-content: center;
    margin-top: 1rem;
}

.projects {
    margin-bottom: 2rem;
}

/* Desktop */
@media (min-width: 1024px) {
    main {
        margin-left: 21rem;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}