---
import { AmiahInfoDynamic } from '../scripts/personal-info.tsx';
import { Project } from '../scripts/project.tsx';
import Layout from '../layouts/Layout.astro';
import '../styles/resume.css';
---

<Layout>

	<div>
		{/* This holds my face and personal info */}
		<aside>
			{/*My face and name*/}
			<div class="ProfilePicture">
				<img src="/images/profile-picture.png" alt="Profile Picture" />
				<div class="NameTitle">
					<span>Amiah Raine</span>
					<small>Computer Science, BS</small>
				</div>
			</div>
			
			<AmiahInfoDynamic client:only />

		</aside>

		{/* This holds the resume and projects */}
		<main>

			<Project
				name="Hardware Specification Getter"
				skills="Java"
				description="A JavaFX application to display hardware specifications in an interactive GUI. Utilizes OSHI for hardware data collection and Jackson for JSON file management. Features include customizable image display and the ability to reorder or disable hardware information entries. Dependencies are managed with Maven."
				link="BOOYAH"
			/>

		</main>

	</div>

</Layout>
