---
import { AmiahInfoDynamic } from '../scripts/personal-info.tsx';
import { Project } from '../scripts/project.tsx';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import '../styles/resume.css';
---

<Layout>
	<noscript style="background: #721010; color: #eee7e7; width: 100vw; padding: 1rem">Please enable JavaScript in your browser to view this content.</noscript>

	<div>
		{/* This is in an aside and holds my picture and info*/}
		<AmiahInfoDynamic client:only />

		{/* This holds the resume and projects */}
		<main>

			<section>
				<h1>Professional Summary</h1>
				<hr />
				<p> &emsp; Graduated <i>summa cum laude</i> with a Bachelor's of Computer Science. Strong skills in back-end development, alongside experience with front-end technologies. Academic achievements reflect a commitment to excellence, analytical thinking, and problem-solving skills.</p>
			</section>

			<section>
				<h1>Skills</h1>
				<hr />
				<ul>
					<li>Java</li>
					<li>Python</li>
					<li>C++</li>
					<li>Bash</li>
					<li>GitHub</li>
					<li>SQL</li>
					<li>JSON</li>
					<li>Teamwork</li>
					<li>Communication</li>
				</ul>
				
				<p>Experienced with Linux and Windows operating systems.</p>
				
			</section>

			<section>
				<h1>Education</h1>
				<hr />
				<p><b>Computer Science, BS</b><br/>Lakeland University, Wisconsin, 2025</p>
			</section>

			<section>
				<h1>Projects</h1>
				<hr />
			
				<div class="projects">
					<Project
						name="Budget Tracker"
						skills="Spring Boot, RESTful APIs, React, Java, JavaScript"
						description="Budget Tracker is a web app that helps users track their expenses and view their total balance. It utilizes a React front-end and a RESTful Spring Boot back-end. The back-end makes use of MariaDB and Hibernate JPA for data persistence."
						link="https://github.com/AmiahRaine/budget-tracker"
					/>
					<Project
						name="Hardware Specification Getter"
						skills="Java"
						description="A JavaFX application to display hardware specifications in an interactive GUI. Utilizes OSHI for hardware data collection and Jackson for JSON file management. Features include customizable image display and the ability to reorder or disable hardware information entries. Dependencies are managed with Maven."
						link="https://github.com/AmiahRaine/hardware-spec-get"
					/>
					<Project
						name="Image Noise Generator"
						skills="Python"
						description="A Python application using Tkinter and PIL for image noise generation. Features include a resizable canvas, grayscale option, seed input for custom noise patterns, and the ability to save generated images for external use."
						link="https://github.com/AmiahRaine/python_noise_generator"
					/>
					<Project
						name="Automated Debian Firefox Install Script"
						skills="Bash"
						description="This shell script installs Firefox on Debian based systems using apt. It automatically imports the Mozilla signing key and pins the .deb version, which resolves dependency errors that may happen otherwise."
						link="https://github.com/AmiahRaine/apt-install-firefox-script"
					/>
				</div>
			</section>

		</main>
	</div>



</Layout>
