---
import { AmiahInfoDynamic } from '../scripts/personal-info.tsx';
import { Project } from '../scripts/project.tsx';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import '../styles/resume.css';
---

<Layout>
	<noscript style="background: #721010; color: #eee7e7;">Please enable JavaScript in your browser to view this content.</noscript>

	<div>
		{/* This is in an aside and holds my picture and info*/}
		<AmiahInfoDynamic client:only />
			

		{/* This holds the resume and projects */}
		<main>

			<Project
				name="Hardware Specification Getter"
				skills="Java"
				description="A JavaFX application to display hardware specifications in an interactive GUI. Utilizes OSHI for hardware data collection and Jackson for JSON file management. Features include customizable image display and the ability to reorder or disable hardware information entries. Dependencies are managed with Maven."
				link="BOOYAH"
			/>

		</main>

	</div>

</Layout>
