---
const { skill } = Astro.props;
---


<div class="skill"><b>{skill}</b></div>


<style>

.skill {
    color: var(--darker);
    background-color: var(--light2);
    border-radius: 0.75rem;
    padding: 0.5rem;
}


</style>