---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<pre>
	<div class="build">
		<h1>Website under construction.</h1>
		<p>Please check back in a few days.</p>
	</div>	
</pre>	

<style>

	main {
		top: 25vh;
		top: 25svh;
		height: 100%;
		display: grid;
		justify-content: center;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	pre {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
		margin-left: 5rem;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.build {
		margin-top: 25vh;
		margin-top: 25svh;
		display: grid;
		justify-content: center;
	}
</style>
